/*
 CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #FFFFFF;
}

header {
  background: #FFFFFF;
  text-align: left;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  color: green;
  text-align: center;
  /* background-image: url('../Images/bacteria.jpg'); */
}

h2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color: green;
  text-align: center;
}

h5 {
  margin-left: 80px;
  margin-bottom: 20px;
  font-size: 30px;
  color: green;
  text-align: center;
}

a {
  color: #d21034;
}

p {
  color: black;
}


/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
  background: white;
}

.box {
  border: solid 2px green;
  background-color: lightgray;
}

/* Selecting elements by ID */
#home {
/*  background-image: url('Images/bacteria.jpg'); */
}

